<?xml version="1.0" ?>
<!--
/**
 * An extension to fix the bug on GitHub issue #13929
 *
 * @category  Sitewards
 * @package   Sitewards_Fix13929
 * @copyright Copyright (c) Sitewards GmbH (http://www.sitewards.com)
 * @contact   mail@sitewards.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sitewards_Fix13929" setup_version="1.0.0">
    </module>
</config>
